# global code owners
* @mayureshagashe2105 @HemanthSai7

# DB Generic Queries
./API/services/db/* @HemanthSai7 @mayureshagashe2105
./API/services/db/utils/* @HemanthSai7

# Auth processes
/API/services/auth/* @mayureshagashe2105

# DB-Connector
/API/utils/DBConnection.py @HemanthSai7

# Authorization decorators
/API/utils/scopes.py @mayureshagashe2105

# API Core-configs and Exceptions
/API/core/* @mayureshagashe2105

# landing page
/API/static/* @HemanthSai7
/API/templates/* @HemanthSai7