pymongo==4.4.1
fastapi==0.100.0
Jinja2==3.1.2
pytest==7.4.0
requests==2.31.0
pytest-cov==4.1.0
pytest-mock==3.11.0
pytruth==1.1.0
hypothesis==6.80.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
uvicorn==0.22.0
pydantic-settings==2.0.2
